
h1, p {
    text-align: center;
}

body {
    /*text-align: center;*/
    background-color: lightgrey;
}

#sketchpad {
    /*width: 400;*/
    /*height: 400px;*/
    
    
    border: 20px ridge brown;
    
    /* to center use one of two methods: */
    /*1*/
    /*display: inline-block;*/
    
    /*2 (works better)*/
    display: table;
    margin: 0px auto;
}

#sketchpad td {
    /* small squares in sketchpad */
    
    width: 10px;
    height: 10px;
    padding: 0px;
    
    
    background-color: white;
    margin: 0px;
}

.square-border {
    border: 1px solid white;
}



table {
    border-collapse: collapse;
}

#buttons-div {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttons-div button {
    margin: 10px;
}

#debug-area {
    border: 1px dashed red;
    
    /*display: inline-block;*/
}